<mat-toolbar color="secondary" *ngIf="messageService.messages.length">
  <mat-toolbar-row>
    <span class="material-icons">mail_outline</span>
    <span class="header">Messages</span>
    <span class="spacer"></span>
    <button mat-button color="warn" (click)="messageService.clear()">
      Clear messages
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="message-row">
    <mat-chip-list>
      <mat-chip *ngFor="let message of messageService.messages">
        {{ message }}
      </mat-chip>
    </mat-chip-list>
  </mat-toolbar-row>
</mat-toolbar>
