.hero-list-item {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr auto;
}

.hero-list-item-content {
  display: grid;
  grid-template-columns: 2em 1fr;
  text-align: left;
}
