<div id="app">
  <header>
    <mat-toolbar color="primary">
      <span>Tour of Heroes 13</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-raised-button color="accent" routerLink="/heroes">
        <mat-icon>view_list</mat-icon>
        <span>Heroes</span>
      </button>
    </mat-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <app-messages></app-messages>
</div>
