<h2>
  <span>Top Heroes </span>
  <mat-icon>emoji_events</mat-icon>
</h2>

<div class="top-heroes">
  @for (hero of topHeroes(); track hero.id) {
  <button mat-raised-button color="primary" routerLink="/detail/{{ hero.id }}">
    {{ hero.name }}
  </button>
  }
  <!-- @empty {
  <strong>NO HEROES</strong>
  } -->
  <!-- @if (topHeroes()?.length) {
  <button mat-raised-button color="primary" routerLink="/heroes">...</button>
  } -->
</div>

<mat-divider></mat-divider>

@defer (on viewport; prefetch on idle) {
<app-hero-search />
} @placeholder {
<strong>HERO SEARCH</strong>
} @loading {
<strong>HERO SEARCH...</strong>
}
